<h1>works#edit</h1>

<%= form_for @work do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter work name" %>
  </div>
  <div class="form-group">
    <%= f.label :github %>
    <%= f.text_field :github, class: 'form-control', placeholder: "Github uri" %>
  </div>
  <div class="form-group">
    <%= f.label :uri %>
    <%= f.text_field :uri, class: 'form-control', placeholder: "URI here" %>
  </div>
  <div class="form-group">
    <%= f.label :role %>
    <%= f.text_field :role, class: 'form-control', placeholder: "Role here" %>
  </div>
  <div class="form-group">
    <%= f.label :technologies %>
    <%= f.text_field :technologies, class: 'form-control', placeholder: "Role here" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 8, class: 'form-control', placeholder: "Enter work description" %>
  </div>
  <div class="form-group">
    <%= f.label :screenshots %>
    <%= f.file_field :screenshots %>
    <%= f.hidden_field :screenshots_cache %>
    <%= f.check_box :remove_screenshots %>
      Remove avatar
  </div>
  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>