<div class='work-info'>
  <h1><%= @work.name %></h1>
  <h2><%= @work.role %></h2>
  <h3><%= @work.technologies %></h3>
  <h4><%= link_to 'View on Github', @work.github %></h4>
  <h4><%= @work.uri %></h4>
  <p class='work-description'><%= @work.description %></p>
</div>
<%= image_tag(@work.screenshots.normal_size.url, class: 'work-screenshot') if @work.screenshots? %>