<div class='work-wrapper'>
  <div class='work-info'>
    <h1 class='work-name'><%= @work.name %></h1>
    <h4 class='work-type'><%= "#{@work.role} | #{@work.technologies}" %></h4>
  </div>
  <div class='work-side'>
    <p class='work-description'><%= @work.description %></p>
    <% if @work.github || @work.uri %>
      <ul class='work-links'>
        <% if @work.github %>
          <li><%= link_to 'View the code', @work.github %></li>
        <% end %>
        <% if @work.uri %> 
          <li><%= link_to 'View the site', @work.uri %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class='work-images'>
    <% if @work.screenshots? %>
      <%= image_tag(@work.screenshots.url) %>
    <% else %>
      <%= image_tag("https://ujk-portfolio-development.s3.amazonaws.com/uploads/work/#{@work.name}/#{@work.name}.svg") %>
    <% end %>
  </div>
</div>